<?xml version="1.0" encoding="UTF-8"?>headers

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-network-transfer"
    version="0.1.0">
    <name>nat-network-transfer</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,upload,download</keywords>
    <repo>https://github.com/Natjs/weex-nat-network-transfer.git</repo>
    <issue>https://github.com/Natjs/weex-nat-network-transfer/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatTransfer" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatTransfer" />
                 <param name="api" value="nat/network/transfer" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatTransfer.h"/>
         <source-file src="ios/WeexNatTransfer.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
     </platform>

</plugin>
